$color-1: #0E7C7B;
$color-2: #17BEBB;
$color-3: #D4F4DD;
$color-4: #D62246;
$color-5: #4B1D3F;


body {
  background-color: $color-3;
  margin: 0;
  form {
    padding: 10px;
    h3 {
      margin-bottom: 10px;
    }
    label,
    input,
    button {
      display: block;
      margin-bottom: 10px;
    }
  }
}